<h3>Compare</h3>
<div class="d-none d-md-block">
  <div class="row">
    <div class="col-{{columns}}" *ngFor="let car of carsToCompare">
      <app-car-card-detailed [car]="car" [singleColumn]="true"></app-car-card-detailed>
    </div>
  </div>
</div>


<div id="carouselComparator" class="carousel slide d-md-none" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item" [class.active]="i == 0" *ngFor="let car of carsToCompare;let i = index">
      <app-car-card-detailed [car]="car" [singleColumn]="true"></app-car-card-detailed>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselComparator" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselComparator" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
